# Ignore everything
*
# Except what is needed for building the app
!app
!components
!hooks
!lib
!public
!types

!*.config.*
!.eslintrc.json
!package.json
!package-lock.json
!tsconfig.json
!middleware.ts
